
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.section h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 2px;
}

.section .row{
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.white-bg h1 {
    color: #3295be;   
}

.white-bg p {
    color: #58798c;
}

.white-bg hr {
    border: none;
    height: 5px;
    color: #3295be;
    background-color: #3295be;

}

.blue-bg div {
    color: #aaa;
}

.blue-bg h1, .blue-bg h2 {
    color: white;   
}

.blue-bg p {
    color: #deeef5;
}

.blue-bg hr {
    border: none;
    height: 5px;
    color: white;
    background-color: white;

}

.blue-bg {
    background: rgba(34,125,170,1);
    background-color: rgba(34,125,170,1);
}

.blue-bg timeline{
    font-size: 24px;
}

.blue-bg h2{
    font-size: 24px;
}
